/************************** Header ***************************/
#header {
padding : 10px ;
 border-bottom: 5px solid #663E10 ;
}



/************************Body**********************/


body {
	font-family: Arial, sans-serif;
	width: 1200px ;
  	text-align: center;
  	margin-left: auto;
    margin-right: auto;
  	font-size: 14px;
  	background-repeat: no-repeat; 
  
  
}

/**************************Core **********************/


#searchArtist {
//background :  #663E10 ; 
text-align : left ; 
margin : 2px ; 

}

.search{
   
  display: inline-block ; 
  text-align : left ; 
  width : 250px ; 
  padding : 10px ; 
 
 }
 
 
 
.label {
  	font-size: 20px;
  //	color: #6d4b31   ;  
  	
}


.textInput {
		width : 160px ; 
 		margin: 0px;
		padding: 5px;
		font-family: Arial, Helvetica, sans-serif;
		font-size:14px;
		border:1px solid #0076a3; 
		border-radius: 5px;
		

}



.searchButton {
        width: 80px ; 
		margin: 0px; margin-left: 20px ; 
		padding: 5px ; 
		font-family: Arial, Helvetica, sans-serif;
		font-size:14px;
		outline: none;
		cursor: pointer;
		text-align: center;
		text-decoration: none;
		color: #ffffff;
		border: solid 1px #0076a3; 
		background: #0095cd;
		background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));
		background: -moz-linear-gradient(top,  #00adee,  #0078a5);
		border-radius: 5px ;
		
}

.searchButton:hover{
		text-decoration: none;
		background: #007ead;
		background: -webkit-gradient(linear, left top, left bottom, from(#0095cc), to(#00678e));
		background: -moz-linear-gradient(top,  #0095cc,  #00678e);
}
